<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project-02</title>

    <!-- ------------------------------google-font-links---------------------------------------------- -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
        rel="stylesheet">
    <!-- ------------------------------font-awesome-links--------------------------------------------- -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!-- ------------------------------css-links------------------------------------------------------ -->
    <link rel="stylesheet" href="style.css">

</head>

<body>


    <section class="header">
        <nav>
            <a href="index.html"><img src="img11.jpg"></a>
            <div class="nav-links" id="navlinks">
                <i class="fa-solid fa-xmark" onclick="hidemenu()"></i>
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="AboutUs.html">ABOUT</a></li>
                    <li><a href="course.html">COURSE</a></li>
                    <li><a href="blog.html">BLOG</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa-solid fa-bars" onclick="showmenu()"></i>
        </nav>
        <div class="text-box">
            <h1>Music is the biggest Relaxation</h1>
            <p>Music is the art of arranging sounds in time through the elements of melody, harmony, rhythm, and
                timbre.It is one of the universal cultural aspects of all human societies.Music is performed with a vast
                range of instruments and vocal techniques ranging from singing to rapping; there are solely instrumental
                pieces, solely vocal pieces and pieces that combine singing and instruments.</p>
            <a href="index.html" class="hero-btn">visit us to know more</a>
        </div>

    </section>

    <!-- -------------course-------------- -->
    <section class="course">
        <h1>Courses we offer</h1>
        <p>Music is an important part of people's way of life.</p>

        <div class="row">
            <div class="course-col">
                <h3>Instruments</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis eos sed quia officia quaerat ullam
                    dolorum ipsam, consectetur quas ad provident rem magni sapiente voluptatibus fugiat expedita quidem
                    accusantium unde reprehenderit laudantium! Tempora, quis!</p>
            </div>
            <div class="course-col">
                <h3>Tones</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis eos sed quia officia quaerat ullam
                    dolorum ipsam, consectetur quas ad provident rem magni sapiente voluptatibus fugiat expedita quidem
                    accusantium unde reprehenderit laudantium! Tempora, quis!</p>
            </div>
            <div class="course-col">
                <h3>Vocals</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis eos sed quia officia quaerat ullam
                    dolorum ipsam, consectetur quas ad provident rem magni sapiente voluptatibus fugiat expedita quidem
                    accusantium unde reprehenderit laudantium! Tempora, quis!</p>
            </div>
        </div>
    </section>

    <!-- -------------Places-------------- -->
    <section class="place">
        <h1>Best place for feel of music</h1>
        <p>Music is an important part of people's way of life.</p>

        <div class="row">
            <div class="place-col">
                <img src="img03.jpg">
                <div class="layer">
                    <h3>LONDON</h3>
                </div>
            </div>
            <div class="place-col">
                <img src="img04.jpg">
                <div class="layer">
                    <h3>NEW YORK</h3>
                </div>
            </div>
            <div class="place-col">
                <img src="img05.jpg">
                <div class="layer">
                    <h3>WASHINGTON</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- -------------bands-------------- -->
    <section class="band">
        <h1>Best bands for music</h1>
        <p>Music is an important part of people's way of life.</p>

        <div class="row">
            <div class="band-col">
                <img src="img10.jpg">
                <h3>Steely Dan</h3>
                <p>Music is an important part of people's way of life.</p>
            </div>
            <div class="band-col">
                <img src="img12.jpg">
                <h3>Scorpions</h3>
                <p>Music is an important part of people's way of life.</p>
            </div>
            <div class="band-col">
                <img src="img13.jpg">
                <h3>Dave Matthews Band</h3>
                <p>Music is an important part of people's way of life.</p>
            </div>
        </div>
    </section>

    <!-- --------------------------test--------------------------- -->
    <section class="test">
        <h1>What people say about the music.</h1>
        <p>Music is an important part of people's way of life.</p>

        <div class="row">
            <div class="test-col">
                <img src="img14.jpg">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolore enim rem soluta officia
                        nihil natus nam voluptas voluptatibus nulla.</p>
                    <h3>John Joseph</h3>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="test-col">
                <img src="img15.jpg">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolore enim rem soluta officia
                        nihil natus nam voluptas voluptatibus nulla.</p>
                    <h3>Jennifer Joseph</h3>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>

                </div>
            </div>
        </div>

    </section>

    <!-- -------------------Call To Action---------------------- -->

    <section class="call">
        <h1>Enroll for our various Music Courses<br> from anywhere in the world</h1>
        <a href="contact.html" class="hero-btn">CONTACT US</a>
    </section>


    <!-- ---------------------footer--------------------------- -->

    <section class="footer">

        <h4>About Us</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing.<br>Tempore doloribus dolores quos blanditiis
            consequatur optio fuga perferendis eos saepe vitae?</p>
        <div class="icons">
            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-twitter-square"></i>
            <i class="fa-brands fa-instagram-square"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-whatsapp-square"></i>
        </div>
        <p>Made by KASHIF SHEIKH</p>

    </section>









    <!-- -------------JavaScript for Toggle menu-------------- -->
    <script>

        var navlinks = document.getElementById("navlinks")
        function showmenu() {
            navlinks.style.right = "0";
        }
        function hidemenu() {
            navlinks.style.right = "-200px";
        }
    </script>

</body>

</html>